<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script>const HOST = "http://<%- HOSTNAME %>:<%- PORT %>"</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>electronic-therapist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column justify-content-start" id="app" style="height: 100vh;min-height: 100vh;max-height: 100vh;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/api.mjs" type="module"></script>
    <script src="assets/js/app.mjs" type="module"></script>
</body>

</html>